{% extends "bootstrap/base.html" %}

{% block title %}
Sojas - Compra Online
{% endblock %}

{% block styles %}
{{super()}}
<link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='img/Home_page/favicon.png')}}">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/e3cefcbc8d.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<style>
  /*
Paleta de colores:
-#db8462 -> Para el hover de los links 
-#2c345c -> El color principal del footer
-#f2f2f2 or white -> Color designado para el texto
*/

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

footer{
    width: 100%;
    font: 16PX;
    color: #fff;
    float: left;
    clear: both;
    padding: 6px 0px;
    text-align: center;
    line-height: 23px;
    background-color: #2c345c;
}


.footer{
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 20px 0;
    box-sizing: border-box;
    background-color: #2c345c;
}

.inner_footer{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.inner_footer .logo_container{
    width: 35%;
    padding-top: -10px;
    margin-top: -35px;
    float: left;
    height: 100%;
    display: block;
}

.inner_footer .logo_container img{
    margin-left: 50px;
    width: 70%;
    height: auto;
}

.inner_footer .footer_third{
    width: calc(21.666666667% -20px);
    margin-right: 50px;
    float: left;
    height: 100%;
}

.inner_footer .footer_third:last-child{
    margin-right: 0;
}

.inner_footer .footer_third h1{
    font-family: 'arial';
    font-size: 22px;
    color: #f3f3f3;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner_footer .footer_third a{
    text-decoration: none;
    font-family: 'arial';
    font-size: 16px;
    color: #f3f3f3;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 5px;
    transition: 0.6s all ease;
}
.inner_footer .footer_third a:hover{
  color: #db8462;
}

.inner_footer .footer_third li{
    display: inline-block;
    padding: 0.5px;
    font-size: 20px;
}


@media(max-width: 768px){
    .footer .inner_footer{
        width: 90%;
    }
    .inner_footer .logo_container,
    .inner_footer .footer_third{
        width: 100%;
        margin-bottom: 30px;
    }
}

/*
Paleta de colores:
-#db8462 -> Para el boton
-#272727 -> Para los fondos de los botones cuando se para encima el puntero
-#2c345c -> El color principal de la barra de navegación
-#f2f2f2 or white -> Color designado para el texto
*/

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.button{
    background-color: #db8462;
    border-radius: 3px;
    padding: 13px 16px;
    text-align: center;
    letter-spacing: 0.5px;
    margin-right: 10px;
    margin-left: 10px;
    line-height: 26px;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    transition: 0.3s all;
    text-decoration: none;
}


.button:hover{
    background-color: #272727;
    color: #db8462;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #2c345c;
  }
  .topnav a:first-child{
      float: left;
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    padding-top: 20px;
    text-decoration: none;
    font-size: 18.5px;
    transition: 0.3s ease all;
    margin-top: 17px;
  }
  
  .topnav a:hover {
    background-color: #272727;
    color: #db8462;
    font-size: 20px;
    
  }
  
  .topnav a.active {

    color: white;
    float: left;
    height: auto;
    margin-top: -20px;
    margin-bottom: -15px;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 1070px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      
    }
  }
  
  @media screen and (max-width: 1070px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;

    }
    .topnav.responsive a:last-child {
      padding-top: 40px;
    }
  }


</style>

<div class="topnav" id="myTopnav">
  <a id="principal" href="{{ url_for('home') }}" class="active"><img style="width: 100px; height: auto; padding-top: -10px;" src="{{url_for('static', filename='img/Home_page/nav_logo.png')}}"></a>
  {% if current_user.is_authenticated %}
  <a id="nav1" href="{{ url_for('logout') }}" class="button"><i style="color:#fff; font-size: 18px; padding-right: 5px;"class="far fa-user"></i>Salir de la plataforma</a>
  <a href="#">Cuenta</a>
  {% else %}
    <a id="nav1" href="{{ url_for('login') }}" class="button"><i style="color:#fff; font-size: 22px; padding-right: 5px;"class="far fa-user"></i>Ingreso a la plataforma</a>
    <a href="{{ url_for('signup') }}">Sign up</a>
  {% endif %}
  <a href="#">Ropa Hombres</a>
  <a href="#">Ropa Mujeres</a>
  <a href="#">Descuentos</a>
  <a href="#">Productos</a>
  <a  href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars" style="font-size: 40px; margin-top: -5px;"></i>
  </a>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/e3cefcbc8d.js" crossorigin="anonymous"></script>
</div>
<script>
  function myFunction() {
      var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
              x.className += " responsive";
          } else {
              x.className = "topnav";
          }
  }
</script>

{% block info %}


{% endblock %}

<div class="footer">
  <div class="inner_footer">
      <div class="logo_container">
          <a href="#principal"><img src="{{url_for('static', filename='img/Home_page/Logo_footer.png')}}"></a>
      </div>

      <div class="footer_third">
          <h1>Legal</h1>
          <a href="#">Politicas de privacidad</a>
          <a href="#">Tratamiento de datos</a>
      </div>

      <div class="footer_third">
          <h1>Productos</h1>
          <a href="#">Ropa Hombres</a>
          <a href="#">Ropa Mujeres</a>
          <a href="#">Descuentos</a>
      </div>

      <div class="footer_third">
          <h1>Contáctenos</h1>

          <a href="#">Estamos ubicados en <br> algun punto de Colombia</a>
          <a href="#">Carrera algo # algo dir algo</a>
          <a style="margin-bottom:-15px;" href="#">El telefono es: +57 123 4567</a><br>
          <li style="display: inline-block;"><a href="#"><i class="fab fa-linkedin"></i></a></li>
          <li style="display: inline-block;"><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li style="display: inline-block;"><a href="#"><i class="fab fa-instagram"></i></a></li>
      </div>
  </div>
</div>
<footer>
  Sojas - Compra Online | © Derechos de autor 2020.Todos los derechos reservados.
</footer>
{% endblock %}