{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}



{% block info %}

    <div class="container" style="padding: 48px 23em; ">

      <form class="form-signin" method="POST" action="/login">
        <h2 class="form-signin-heading">Por favor ingrese al portal</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        {% if error != "" %}
          <h2 class="form-signin-heading" style="font-size: 15px; color: red;">{{error}}</h2>
        {% endif %}
      </form>

    </div> <!-- /container -->
{% endblock %}