.mainCarrito {
  margin-top: 30px;
  width: 970px;
  min-height: 400px;
  position: display block;
  margin-right: auto;
  margin-left: auto;
  font-size: 13px;
  line-height: 20px;
  color: #333;
}

.title {
  display: block;
  font-size: 1.375rem;
  font-weight: bold;
  line-height: 1.36;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  margin: 0.67em 0;
  text-rendering: optimizeLegibility;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

.cartContainer {
  min-height: 200px;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: block;
  font-size: 13px;
  line-height: 20px;
  color: #333;
}

.cartContent {
  margin-left: 0;
  opacity: 1;
  position: relative;
  margin-bottom: 15px;
  min-height: 200px;
  transition: all 0.7s ease-in-out;
  width: 100%;
  display: block;
  float: left;
  box-sizing: border-box;
}

.cartLoaded {
  display: block;
}

.cart {
  border: none;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
}

.cartTable {
  margin-bottom: 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  box-sizing: border-box;
  text-indent: 0;
}

.product {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.38;
  letter-spacing: normal;
  color: #000;
  text-transform: uppercase;
  border-top: 0;
  vertical-align: bottom;
  padding: 8px;
  text-align: left;
  display: table-cell;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

.product-price {
  min-width: 90px;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.38;
  letter-spacing: normal;
  color: #000;
  text-transform: uppercase;
  border-top: 0;
  position: relative;
  text-align: center;
  vertical-align: bottom;
  padding: 8px;
  display: table-cell;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

.quantity {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.38;
  letter-spacing: normal;
  color: #000;
  text-transform: uppercase;
  border-top: 0;
  text-align: center;
  vertical-align: bottom;
  padding: 8px;
  display: table-cell;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

.quantity-price {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.38;
  letter-spacing: normal;
  color: #000;
  text-transform: uppercase;
  border-top: 0;
  text-align: center;
  vertical-align: bottom;
  padding: 8px;
  width: 100px;
  display: table-cell;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

.product-item {
  padding: 10px;
  display: table-row;
  vertical-align: inherit;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

.product-image {
  vertical-align: middle;
  padding: 5px;
  border: 0;
  line-height: 20px;
  text-align: left;
  width: 45px;
  display: table-cell;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

.product-name {
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  width: 350px;
  vertical-align: middle;
  padding: 5px;
  border: 0;
  display: table-cell;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

.product-price {
  min-width: 90px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  border: 0;
  line-height: 20px;
  display: table-cell;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

.quantity {
  min-width: 90px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  border: 0;
  line-height: 20px;
  display: table-cell;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

.quantity-price {
  min-width: 90px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  border: 0;
  line-height: 20px;
  display: table-cell;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

tbody {
  border-radius: 3px;
  border: 1px solid #e3e3e3;
  background-color: #fff;
  display: table-row-group;
  vertical-align: middle;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}
